<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Servlet Training</display-name>
  
  <!-- 定义创建的Servlet -->
  <servlet>
 	<!-- 定义创建的Servlet的名字 -->
  	<servlet-name>servlet01</servlet-name>
  	<!-- 指定Servlet的完整类名 -->
  	<servlet-class>com.cheer.pkg1.FirstServlet</servlet-class>
  </servlet>
  
  <!-- 为创建的Servlet映射一个URL -->
  <servlet-mapping>
  	<!-- 指定待映射的Servlet名字 -->
  	<servlet-name>servlet01</servlet-name>
  	<!-- 指定访问Servlet的相对URL路径 -->
  	<url-pattern>/servlet01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HttpServletRequestAPI</servlet-name>
  	<servlet-class>com.cheer.api.HttpServletRequestApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HttpServletRequestAPI</servlet-name>
  	<url-pattern>/HttpServletRequestAPI</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ServletConfigApi</servlet-name>
  	<servlet-class>com.cheer.api.ServletConfigApi</servlet-class>
  	<!-- Servlet 初始化参数 -->
  	<init-param>
  		<param-name>Parameter_1</param-name>
  		<param-value>Parameter_1 Value</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletConfigApi</servlet-name>
  	<url-pattern>/ServletConfigApi</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>/html/login.html</welcome-file>
  </welcome-file-list>
</web-app>
